body {
  font-family: "Kristen ITC";
  color: #3328cc;
  background-color: white;
}

hr {
  width: 100%;
}

.form label {
  font-size: x-large;
}
.form input {
  height: 30px;
  width: 100%;
}

.bottom-menu {
  margin-right: 20px;
}

.title {
  text-align: center;
  /* text-transform: uppercase; */
  font-size: 90px;
  white-space: nowrap;
  /* text-shadow: 4px 4px 0 rgba(140, 117, 117, 0.7); */
  text-shadow:
  -1px -1px 0 #3328cc,
  1px -1px 0 #3328cc,
  -1px 1px 0 #3328cc,
  1px 1px 0 #3328cc;
  color: #3328cc;
}

.subtitle {
  text-align: center;
  white-space: nowrap;
  /* text-shadow: 4px 4px 0 rgba(140, 117, 117, 0.7); */
  text-shadow:
  -1px -1px 0 #3328cc,
  1px -1px 0 #3328cc,
  -1px 1px 0 #3328cc,
  1px 1px 0 #3328cc;
  color: #3328cc;
}

.float-right {
  float: right;
}

.game-canvas.map-canvas {
  /* display: none; */
  z-index: -2;
}
.map-save-canvas {
  display: none;
}

.choose-difficulty {
  text-align: center;
}

.game-group {
  position: relative;
  /* width: calc(100vmin - 50px);
  height: calc(50vmin + 60px); */
}

.canvas-group {
  /* display: none; */
  z-index: -1;
}

.game-overlay {
  z-index: 1000;
}

.overlay-canvas {
  z-index: 1;
}

.primary-canvas {
  z-index: -1;
}

ul.events-list {
  list-style-type: none;
}

ul.events-list li.kill {
  font-size: 24px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

ul.events-list li.playerAvatarChange {
  font-size: 24px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: black;
}

.events-area {
  width: 400px;
  height: 200px;
}

.game-canvas {
  /* position: absolute;
  left: 0;
  top: 0;
  width: 100vmax;
  height: 100vmax; */

  width: 100vw; 
  /* height: 100vw; */
  /* height:width ratio = 9/16 = .5625 */
  /* height: 56.25vw;  */
  /* 12/16 */
  height: 75vw;
  max-height: 100vh;
  /* max-width: 100vh; */
  /* 16/9 = 1.778 */
  /* max-width: 177.78vh;   */
  /* 16/12 */
  max-width: 133.33vh; 
  margin: auto;
  position: absolute;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
}
/* 
.canvas-width-max {
  min-width: 1000px;
  min-height: 500px;
  width: calc(100vw - 14px);
  height: calc(50vw - 7px);
}

.canvas-height-max {
  min-width: 1000px;
  min-height: 500px;
  width: calc(200vh - 14px);
  height: calc(100vh - 7px);
} */

.background {
  z-index: -999;
}

.start-game {
  display: none;
}

.menu {
  z-index: 9999;
  position: absolute;
  left: 0;
  top: 0;
  /* padding-top: 50px; */
  /* padding-top: calc((50vw - 7px) / 4); */
  /* width: 50%; */
  /* margin: 0 auto; */
  width: 100vw;
  height: 50vh;
  /* font-size: 1.5vw; */
}

.controls {
  display: flex;
  flex-direction: column;
  font-size: 26px;
}

.menu .controls {
  height: 100%;
}

.sub-menu {
  margin: auto;
  width: 50%;
}

.lobby-menu {
  margin-left: 100px;
  margin-right: 100px;
}

.credits {
  font-size: 24px;
}

.list-table {
  width: 100%;
  height: 400px;
}

/* .high-scores-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  width: 100%;
}

.high-scores-list tr {
  text-align: center;
  font-size: calc(15px + 1vw);
}

.high-scores-list td {
  text-align: center;
  font-size: calc(10px + 1vw);
} */

.control {
  font-family: "Kristen ITC";
  /* flex: 1; */
  margin: 10px;
  /* Button style */
  border: 1px solid #ffffff;
  background: #322fca;
  background: -webkit-gradient(linear, left top, left bottom, from(#3328cc), to(#322fca));
  background: -webkit-linear-gradient(top, #3328cc, #322fca);
  background: -moz-linear-gradient(top, #3328cc, #322fca);
  background: -ms-linear-gradient(top, #3328cc, #322fca);
  background: -o-linear-gradient(top, #3328cc, #322fca);
  background-image: -ms-linear-gradient(top, #3328cc 0%, #322fca 100%);
  padding: 13.5px 27px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  text-shadow: #8f3232 0 1px 0;
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  vertical-align: middle;
  }
.control:hover {
  border: 1px solid #ffffff;
  text-shadow: #571e1e 0 1px 0;
  background: #646bcc;
  background: -webkit-gradient(linear, left top, left bottom, from(#646bcc), to(#686ec9));
  background: -webkit-linear-gradient(top, #646bcc, #686ec9);
  background: -moz-linear-gradient(top, #646bcc, #686ec9);
  background: -ms-linear-gradient(top, #646bcc, #686ec9);
  background: -o-linear-gradient(top, #646bcc, #686ec9);
  background-image: -ms-linear-gradient(top, #646bcc 0%, #686ec9 100%);
  color: #fff;
  }
.control:active {
  text-shadow: #571e1e 0 1px 0;
  border: 1px solid #ffffff;
  background: #3328cc;
  background: -webkit-gradient(linear, left top, left bottom, from(#322fca), to(#322fca));
  background: -webkit-linear-gradient(top, #322fca, #3328cc);
  background: -moz-linear-gradient(top, #322fca, #3328cc);
  background: -ms-linear-gradient(top, #322fca, #3328cc);
  background: -o-linear-gradient(top, #322fca, #3328cc);
  background-image: -ms-linear-gradient(top, #322fca 0%, #3328cc 100%);
  color: #fff;
  }

.control[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #333;
  background-color: #E6E6E6;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3328cc;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3328cc;
  cursor: pointer;
}

.scoreboard {
  /* height: 75vw; */
  max-height: 75vh;
  width: 800px;
  /* margin: auto; */
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.in-game-menu {
  max-height: 75vh;
  width: 100%;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;

  /* width: 100vw; 
  height: 75vw;
  max-height: 100vh;
  max-width: 133.33vh; 
  margin: auto;
  position: absolute;
  top:0;bottom:0;
  left:0;right:0; */
}

.leaderboard {
  font-size: 30px;
}

.players-remaining {
  margin-bottom: 25px;
}
.players-remaining-count {
  display: inline-block;
}

.score-table {
  width: 100%;
  height: 100%;
}

.score-table th {
  text-align: left;
  border-bottom: 1px solid white;
}

.lobby {
  display: flex;
  flex-direction: row;
}

.lobby-list {
  flex: 1;
  width: 50%;
}

.chat-area {
  flex: 1;
  /* width: 50%; */
  height: 400px;
  border: 1px solid darkgrey;
  position: relative;
  background-color: #5e9cd3;
}

.lobby-chat-input {
  width: 95%;
  /* margin-right: 8px; */
  margin: 5px;
  bottom: 50px;
  height: 30px;
  position: absolute;
}

.control.control-sm {
  padding: 7px 13px;
  font-size: 16px;
}

.lobby-chat-submit {
  position: absolute;
  bottom: 0;
  right: 0;
}

.chat-messages {
  border: 1px solid darkgrey;
  background-color: white;
  height: 295px;
  margin: 5px;
  overflow-y: auto;
}

.chat-messages li {
  list-style-type: none;
}
